.noflash
{
background: #9EEAFA url('/PBS-Kids-2006/images/noflash/background.gif');
}

#flashnotice
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #FFF;
padding: 3px;
width: auto;
text-align: center;
background-color: #FF9B00;
}

#flashnotice a:link, #flashnotice a:visited, #flashnotice a:hover, #flashnotice a:active 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #FFF;
}

td.programlistlogo
{
padding: 10px 0 0 0;
}

td.programlist
{
padding: 10px 0 0 10px;
}

.programlist 
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #145882;
font-weight: bold;
line-height: 15px;
}

.programlist a:link, .programlist a:visited
{
color: #145882;
text-decoration: none;
}

.programlist a:hover, .programlist a:active
{
color: #FFF;
text-decoration: none;
background: #99CC00;
padding: 3px 3px 3px 3px;
}

td.bubbleside
{
background: url('/images/noflash/stick-sides.gif') no-repeat;
text-align: center;
padding-top: 40px;
}

td.bubblemiddle
{
background: url('/images/noflash/stick-middle.gif') no-repeat;
text-align: center;
padding-top: 10px;
}
/*
